main { /*properties for the main block*/
  font-family: "Times New Roman", Times, serif; /* type of font for the document*/
}

body {
  width:100%;
}

#page-title { /*properties for the page-title*/
text-align: justify; /*centers the page title*/
display:flex;
}

#image {  /*properties for the image*/
 margin:auto; /* let the browser calculate the margin for the center image*/
 display:block;  /* Displays the image as a block element (like <p>). It starts on a new line, and takes up the whole width*/
}
#img-caption { /*properties for the image caption*/
  text-align: center; /* center the image caption*/
}

#navbar {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  position:fixed;
}

#navbar-items { /*properties for the page-title*/
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
width: 100%;
}

#navbar-li {
float: left;
}

#navbar-li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link background color to #111 (black) on hover */
li a:hover {
background-color: #111;
}

body { /*properties for the body*/
display:flex;
}


       /*FRONTPAGE*/
#posts {
  text-align:center;
  margin-left: 350px;
  width: 50%;
  background-color: bisque;
}


      /*HISTORY PAGE*/
#history-list { /*properties for the page-title*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}
      /*COURSE PAGE*/
#course-list {
  display:flex;

}


#intro-course { 
  background-color: darkcyan;
  padding: 2px 100px 400px;
  font-size: 50px;
  text-align: center;

}

#adv-course {
  background-color: green;
  padding: 2px 100px 400px;
  font-size: 50px;
  text-align: center;
  margin-left:10px;
  }

  #adv_course_img {
    display:flex;
    text-align:center;
    margin-top:500px;
    margin-left:-275px;
  }

.fade-in {
  opacity: 50%;
  transition:opacity 0.8s;
  }
  
.fade-in:hover {
  opacity:100%;
  transition:opacity 0.5s;
  }

footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color: black;
  color: white;
  }

h2 {
  text-align: center;
  }

section {
  display: flex;
  flex-direction: row;
  width: 25%;
  padding: 20px;
  }