main { /*properties for the main block*/
    font-family: "Times New Roman", Times, serif; /* type of font for the document*/
}
#page-title { /*properties for the page-title*/
  text-align: justify; /*centers the page title*/
  margin-left: 280px;
  display:flex;
}
#image {  /*properties for the image*/
   margin:auto; /* let the browser calculate the margin for the center image*/
   display:block;  /* Displays the image as a block element (like <p>). It starts on a new line, and takes up the whole width*/
}
#img-caption { /*properties for the image caption*/
    text-align: center; /* center the image caption*/
}

#navbar {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
  
#navbar-items { /*properties for the page-title*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar-li {
  float: left;
}

#navbar-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link background color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
#history-list { /*properties for the page-title*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  background-color: white;
}

#posts{

  text-align:center;
}

footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color: black;
  color: white;
}

section {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  width: 25%;
}