main { /*properties for the main block*/
    font-family: "Times New Roman", Times, serif; /* type of font for the document*/
}
#page-title { /*properties for the page-title*/
  text-align: center; /*centers the page title*/
}
#image {  /*properties for the image*/
   margin:auto; /* let the browser calculate the margin for the center image*/
   display:block;  /* Displays the image as a block element (like <p>). It starts on a new line, and takes up the whole width*/
}
#img-caption { /*properties for the image caption*/
    text-align: center; /* center the image caption*/
}

  
ul { /*properties for the page-title*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link background color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 3px;
  background-color: black;
  color: white;
}